<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:include="layout :: htmlhead"></head>

<body>
    <div class="container">
        <nav th:replace="layout :: menu">(menu)</nav>
        <div class="border border-dark">
            <form th:action="@{/venda/(form)}" th:object="${venda}" method="POST">

                <input type="hidden" th:field="*{id}">

                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div>Data da Venda</div>
                                <input type="date" class="form-control" th:field="*{data}"/>
                                
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="slcVendedor">Vendedor</label>
                    <select class="form-control" id="slcVendedor" th:field="*{vendedor}">
                        <option th:each="umVendedor : ${listaVendedores}" th:value="${umVendedor.id}"
                            th:text="${umVendedor.nome}"></option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="slcCliente">Cliente</label>
                    <select class="form-control" id="slcCliente" th:field="*{cliente}">
                        <option th:each="umCliente : ${listaClientes}" th:value="${umCliente.id}"
                            th:text="${umCliente.nome}"></option>
                    </select>
                </div>



                <div class="card">
                    <div class="card-header">Vincular Produtos</div>
                    <div class="card-body">
                        <div class="container" th:object="${itemvenda}">
                            <div class="row">
                                
                                    <div class="col-sm">
                                        <label for="qtdVenda">Quantidade</label>
                                      </div>
                                      <div class="col-sm">
                                        <input type="text" class="form-control" id="qtdVenda" 
                                        th:field="${itemvenda.qtdVenda}" placeholder="Quantidade">
                                      </div>
                                
                                <div class="col-md">
                                    <select class="form-control" id="slcProduto" th:field="${itemvenda.produto}"
                                        placeholder="Produto">
                                        <option th:each="umProduto : ${listaProdutos}" 
                                                th:value="${umProduto.id}"
                                                th:text="${umProduto.descricao}">
                                        </option>
                                    </select>
                                </div>
                                <button type="submit" name="insertItem" class="btn btn-primary">Inserir Produto</button>
                            </div>
                        </div>
                    </div>
                    <br>
                </div>

                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Produto</th>
                            <th scope="col">Valor</th>
                            <th scope="col">Quantidade</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr scope="row" th:each="item, stat : ${venda.listaItemVenda}">
                            <input type="hidden" th:field="${venda.listaItemVenda[__${stat.index}__].produto}" />
                            <input type="hidden" th:field="${venda.listaItemVenda[__${stat.index}__].qtdVenda}" />
                            <td th:text="${item.produto.descricao}"></td>
                            <td th:text="${item.produto.precoVenda}"></td>
                            <td th:text="${item.qtdVenda}"></td>
                            <td>
                                <button type="submit" name="removeItem" th:value="__${stat.index}__"
                                    class="btn btn-primary">Remover</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button type="submit" class="btn btn-primary">Concluir Venda</button>
            </form>
        </div>






    </div>

    <script type="text/javascript">
        $(function () {
            $('#datetimepicker4').datetimepicker({
                format: "dd/MM/yyyy H:mm"
            });
        });
    </script>



    <div th:include="layout :: footer">(footer)</div>



</body>

</html>