<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:include="layout :: htmlhead"></head>

<body>
    <div class="container">
        <nav th:replace="layout :: menu">(menu)</nav>
        <div class="border border-dark">
            <form th:action="@{/venda/(form)}" th:object="${venda}" method="POST">

                <input type="hidden" th:field="*{id}">

                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div>Data da Venda</div>
                                <div class="input-group date" id="datetimepicker4" data-target-input="nearest">
                                    <input type="text" class="form-control datetimepicker-input"
                                        data-target="#datetimepicker4" />
                                    <div class="input-group-append" data-target="#datetimepicker4"
                                        data-toggle="datetimepicker">
                                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="slcVendedor">Vendedor</label>
                    <select class="form-control" id="slcVendedor" th:field="*{vendedor}">
                        <option th:each="umVendedor : ${listaVendedores}" th:value="${umVendedor.id}"
                            th:text="${umVendedor.nome}"></option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="slcCliente">Cliente</label>
                    <select class="form-control" id="slcCliente" th:field="*{cliente}">
                        <option th:each="umCliente : ${listaClientes}" th:value="${umCliente.id}"
                            th:text="${umCliente.nome}"></option>
                    </select>
                </div>



                <div class="card">
                    <div class="card-header">Vincular Itens</div>
                    <div class="card-body">
                        <div class="container" th:object="${produto}">
                            <div class="row">
                                <div class="col-sm">
                                    <label for="slcItem">Item</label>
                                </div>
                                <div class="col-md">
                                    <select class="form-control" id="slcItem" th:field="*{itemVenda}"
                                        placeholder="Item">
                                        <option th:each="umProduto : ${listaProdutos}" 
                                                th:value="${umProduto.id}"
                                                th:text="${umProduto.descricao}">
                                        </option>
                                    </select>
                                </div>
                                <button type="submit" name="insertItem" class="btn btn-primary">Inserir Item</button>
                            </div>
                        </div>
                    </div>
                    <br>
                </div>

                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Item</th>
                            <th scope="col">Valor</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr scope="row" th:each="item, stat : ${venda.listaItens">
                            <input type="hidden" th:field="${venda.listaItens__${stat.index}__].descricao}" />
                            <input type="hidden" th:field="${venda.listaItens__${stat.index}__].valor}" />
                            <td th:text="${item.descricao}"></td>
                            <td th:text="${item.valor}"></td>
                            <td>
                                <button type="submit" name="removeItem" th:value="__${stat.index}__"
                                    class="btn btn-primary">Remover</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button type="submit" class="btn btn-primary">Concluir Venda</button>
            </form>
        </div>






    </div>

    <script type="text/javascript">
        $(function () {
            $('#datetimepicker4').datetimepicker({
                format: "dd/MM/yyyy H:mm"
            });
        });
    </script>



    <div th:include="layout :: footer">(footer)</div>



</body>

</html>