<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    
    <head th:include="layout :: htmlhead"></head>

    <body>
        <div class="container">
            <nav th:replace="layout :: menu">(menu)</nav>

            <a th:href="@{/venda/novo}" class="btn btn-primary">Nova Venda</a>
            
            <table class="table" id="vendas">
                <thead class="thead-light">
                    <tr>
                        
                        <th scope="col">Data</th>
                        <th>Vendedor</th>
                        <th>Cliente</th>
                        <th>Valor Total</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    <tr scope="row" th:each="umaVenda : ${listaVendas}">
                        <td th:text="${#dates.format(umaVenda.data, 'dd/MM/yyyy HH:mm')}"></td>
                        <td th:text="${umaVenda.vendedor.nome}"></td>
                        <td th:text="${umaVenda.cliente.nome}"></td>
                        <td th:text="${umaVenda.valorTotal}"></td>
                        <td>
                            <!--<a th:href="@{'/venda/alterar/'+${umaVenda.Id}}" 
                            class="btn btn-secondary">
                                Alterar
                            </a>-->

                            <button class="btn btn-danger js-delete"
                                th:data-id="${umaVenda.Id}">
                                <span class="glyphicon glyphicon-exclamation-sign" 
                                aria-hidden="true">
                                </span>
                                Excluir
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
        
        
        <div th:include="layout :: footer">(footer)</div>

        <script type="text/javascript">
            $(document).ready(function(){
                $("#vendas").on('click', ".js-delete", function(){
                    let button = $(this);
                    bootbox.confirm("Confirma a exclusão do registro?", function(result){
                        if(result){
                            $.ajax({
                                url : "/venda/delete/" + button.attr("data-id"),
                                method : "GET",
                                success : function(){
                                    window.location.href = "/venda/"
                                }
                            });
                        }
                    });
                });
            });
        </script>

    </body>
</html> 