<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    
    <head th:include="layout :: htmlhead"></head>

    <body>
        <div class="container">
            <nav th:replace="layout :: menu">(menu)</nav>

            <a th:href="@{/produto/novo}" class="btn btn-primary">Novo Produto</a>
            
            <table class="table" id="produtos">
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Descrição</th>
                        <th>Preço no fornecedor</th>
                        <th>Quantidade no estoque</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    <tr th:each="umProduto : ${listaProdutos}">
                        <td th:text="${umProduto.codigo}"></td>
                        <td th:text="${umProduto.descricao}"></td>
                        <td th:text="${umProduto.precoFornecedor}"></td>
                        <td th:text="${umProduto.qtdEstoque}"></td>
                        <td>
                            <a th:href="@{'/produto/alterar/'+${umProduto.Id}}" 
                            class="btn btn-secondary">
                                Alterar
                            </a>

                            <button class="btn btn-danger js-delete"
                                th:data-id="${umProduto.Id}">
                                <span class="glyphicon glyphicon-exclamation-sign" 
                                aria-hidden="true">
                                </span>
                                Excluir
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
        
        
        <div th:include="layout :: footer">(footer)</div>

        <script type="text/javascript">
            $(document).ready(function(){
                $("#produtos").on('click', ".js-delete", function(){
                    let button = $(this);
                    bootbox.confirm("Confirma a exclusão do registro?", function(result){
                        if(result){
                            $.ajax({
                                url : "/produto/delete/" + button.attr("data-id"),
                                method : "GET",
                                success : function(){
                                    window.location.href = "/produto/"
                                }
                            });
                        }
                    });
                });
            });
        </script>

    </body>
</html> 