<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    
    <head th:include="layout :: htmlhead"></head>

    <body>
        <div class="container">
            <nav th:replace="layout :: menu">(menu)</nav>

            <h1 th:text="${nome}"></h1>

            <a th:href="@{/venda/novo}" class="btn btn-success btn-lg btn-block">Nova Venda</a>
            <a th:href="@{/cliente/novo}" class="btn btn-primary btn-lg btn-block">Novo Cliente</a>
            <a th:href="@{/produto/novo}" class="btn btn-info btn-lg btn-block">Novo Produto</a>
            <a th:href="@{/vendedor/novo}" class="btn btn-secondary btn-lg btn-block">Novo Vendedor</a>
        </div>

        
        
        <div th:include="layout :: footer">(footer)</div>
    </body>
</html> 